* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body * {
    background-color: rgb(146,212,59);
    color: white;
}*/

body a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: none;
    color: white;
}

.top-nav {
    background-color: rgb(146,212,59);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.nav-logo {
    display: flex;
    justify-content: center;
}


.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-links a, .fa-heart, .fa-shopping-cart {
    margin-right: 30px;
} 

.main-content-title {
    bottom: -147px;
}

.main-content a {
    text-decoration: none;
}

.hot-releases-title a {
  
    color: black;
}

/* Styling the cardbody section */
.seemore-btn:hover {
    color: white;
    text-decoration: none;
}

.money {
    color: #d40d9a;
}

.card-body a {
    color: black;
}

.card-body a:hover {
    color: black;
    text-decoration: none;
}

.review {
    color: #d40d9a;
}

.no-review {
    color: grey;
}

.btn {
    background-color: #d40d9a;
    color: white;
}

/*Styling the footer */
.footer-items {
    background-color: white !important;
}

.feedback-btn {
    background-color: rgb(146,212,59);
}

.fcopyright a {
    color: black;
}

.fcopyright a:hover {
    color: black;
    text-decoration: none;
}