* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body * {
    background-color: rgb(146,212,59);
    color: white;
}

body a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: none;
    color: white;
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.nav-logo {
    display: flex;
    justify-content: center;
}


.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-links a, .fa-heart, .fa-shopping-cart {
    margin-right: 30px;
} 

.main-content-title {
    bottom: -147px;
}

.main-content a {
    text-decoration: none;
}

.view-more-btn {
    background-color: hotpink;
}

.hot-releases-title a {
  
    color: black;
}

/*Styling the footer */
.footer-items {
    background-color: white !important;
}

.feedback-btn {
    background-color: white;
}