* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden !important;
}

body a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: none;
    color: white;
}

.top-nav, .main-content, .top-rated {
    background-color: rgb(146,212,59);
    color: white;
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.nav-logo {
    display: flex;
    justify-content: center;
}

.nav-logo a:hover {
    text-decoration: none;
    color: white;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-links a, .fa-heart, .fa-shopping-cart {
    margin-right: 30px;
} 

.main-content-title {
    bottom: -147px;
}

.main-content a {
    text-decoration: none;
    color: black;
}

.main-content a:hover {
    text-decoration: none;
    color: black;
}

/* Styling the hot new releases */
.hot-releases-title a {
    color: black;
}

.hot-releases-title a:hover {
    color: black;
    text-decoration: none;
}

/* Styling the cardbody section */
.seemore-btn , .showmore-btn, .view-more-btn, .amount-btn > span, .complete-btn > span, .add-to-cart-btn > span {
    color: white;
} 

.seemore-btn:hover {
    color: white;
    text-decoration: none;
}

.showmore-btn:hover {
    color: white;
    text-decoration: none;
}

.view-more-btn:hover {
    color: white;
    text-decoration: none;
}

.complete-btn:hover {
    color: white;
    text-decoration: none;
}

.add-to-cart-btn:hover {
    color: white;
    text-decoration: none;
}

.money {
    color: #d40d9a;
}

.card-body a {
    color: black;
}

.card-body a:hover {
    color: black;
    text-decoration: none;
}

.review {
    color: #d40d9a;
}

.no-review {
    color: grey;
}

.btn {
    background-color: #d40d9a;
    color: white;
}

/* Styling the handbag-details section */
.colors .maroon {
    background-color: maroon !important;
}

.hotpink {
    background-color: hotpink;
}

.pink {
    background-color: pink;
}

.orchid {
    background-color: orchid;
}

.item-selected {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 100px 350px;
}

.item-selected .item-img {
    grid-row: 2;
    grid-column: 2;
}

.item-selected .item-description {
    grid-row: 2;
    grid-column: 3;
}

.related-products {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 50px 600px;
    grid-column-gap: 10px;
}

.related-products-title {
    grid-row: 1;
    grid-column: 2 /span 3;
}

.related-products1 {
    grid-row: 2;
    grid-column: 2;
    border: 1px solid green;
}

.related-products2 {
    grid-row: 2;
    grid-column: 3;
    border: 1px solid blue;
}

.related-products3 {
    grid-row: 2;
    grid-column: 4;
    border: 1px solid yellow;
}

/* Styling the add to cart page */
.contact-information a {
    color: black;
}

.contact-information a:hover {
    color: black;
    text-decoration: none;
}

.items-selected a {
    color: black;
}

.items-selected a:hover {
    color: black;
    text-decoration: none;
}

/*Styling the footer */
.footer-items {
    background-color: white !important;
}

.feedback-btn {
    background-color: rgb(146,212,59);
}

.fcopyright a {
    color: black;
}

.fcopyright a:hover {
    color: black;
    text-decoration: none;
}