* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body a {
  text-decoration: none;
  color: white;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a,
.fa-heart,
.fa-shopping-cart {
  margin-right: 30px;
}

.main-content a {
  text-decoration: none;
  color: black;
}

.card-body a {
  color: black;
}

.contact-information a {
  color: black;
}

.items-selected a {
  color: black;
}

.fcopyright a {
  color: black;
}

.nav-links a:hover {
  text-decoration: none;
  color: white;
}

.top-nav,
.main-content {
  background-color: rgb(146, 212, 59);
  color: white;
}

.nav-logo a:hover {
  text-decoration: none;
  color: white;
}

.main-content a:hover {
  text-decoration: none;
  color: black;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
  grid-template-rows: 500px;
}

.main-content-title {
  grid-row: 1;
  grid-column: 2;
}

.main-content-img {
  grid-row: 1;
  grid-column: 3;
}

.new-releases {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 50px 550px 550px;
  grid-column-gap: 10px;
}

.new-releases .hot-releases-title {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.new-releases .new-releases1 {
  grid-row: 2 / span 2;
  grid-column: 2;
}

.new-releases .new-releases2 {
  grid-row: 2;
  grid-column: 3;
}

.new-releases .new-releases3 {
  grid-row: 3;
  grid-column: 3;
}

.seemore-btn,
.showmore-btn,
.view-more-btn,
.complete-btn > span,
.add-to-cart-btn > span,
.see-details-btn {
  color: white;
}

.seemore-btn:hover {
  color: white;
  text-decoration: none;
}

.showmore-btn:hover {
  color: white;
  text-decoration: none;
}

.view-more-btn:hover {
  color: white;
  text-decoration: none;
}

.complete-btn:hover {
  color: white;
  text-decoration: none;
}

.add-to-cart-btn:hover {
  color: white;
  text-decoration: none;
}

.see-details-btn:hover {
  color: white;
  text-decoration: none;
}

.money {
  color: #d40d9a;
}

.card-body a:hover {
  color: black;
  text-decoration: none;
}

.review {
  color: #d40d9a;
}

.no-review {
  color: grey;
}

.btn {
  background-color: #d40d9a;
  color: white;
}

.top-rated {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
  grid-template-rows: 50px 550px;
  grid-column-gap: 10px;
  background-color: rgb(146, 212, 59);
}

.top-rated-title {
  grid-row: 1;
  grid-column: 2/ span 3;
}

.top-rated1 {
  grid-row: 2;
  grid-column: 2;
}

.top-rated2 {
  grid-row: 2;
  grid-column: 3;
}

.top-rated3 {
  grid-row: 2;
  grid-column: 4;
}

.more-img {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 550px 550px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
}

.more-img1 {
  grid-row: 1;
  grid-column: 2;
}

.more-img2 {
  grid-row: 1;
  grid-column: 3;
}

.more-img3 {
  grid-row: 1;
  grid-column: 4;
}

.more-img4 {
  grid-row: 2;
  grid-column: 2;
}

.more-img5 {
  grid-row: 2;
  grid-column: 3;
}

.more-img6 {
  grid-row: 2;
  grid-column: 4;
}

.more-img7 {
  grid-row: 3;
  grid-column: 2 /span 3;
}

.reviews {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-template-rows: 50px 200px;
  grid-column-gap: 10px;
  background-color: rgb(146, 212, 59);
}

.reviews-title {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.reviews1 {
  grid-row: 2;
  grid-column: 2;
  background-color: white;
}

.reviews2 {
  grid-row: 2;
  grid-column: 3;
  background-color: white;
}

.handbags-content {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr;
  grid-template-rows: 50px repeat(5, 480px) 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.handbags-content1 {
  grid-row: 2;
  grid-column: 2;
}

.handbags-content2 {
  grid-row: 2;
  grid-column: 3;
}

.handbags-content3 {
  grid-row: 2;
  grid-column: 4;
}

.handbags-content4 {
  grid-row: 2;
  grid-column: 5;
}

.handbags-content5 {
  grid-row: 3;
  grid-column: 3;
}

.handbags-content6 {
  grid-row: 3;
  grid-column: 4;
}

.handbags-content7 {
  grid-row: 3;
  grid-column: 5;
}

.handbags-content8 {
  grid-row: 4;
  grid-column: 3;
}

.handbags-content9 {
  grid-row: 4;
  grid-column: 4;
}

.handbags-content10 {
  grid-row: 4;
  grid-column: 5;
}

.handbags-content11 {
  grid-row: 5;
  grid-column: 3;
}

.handbags-content12 {
  grid-row: 5;
  grid-column: 4;
}

.handbags-content13 {
  grid-row: 5;
  grid-column: 5;
}

.handbags-content14 {
  grid-row: 6;
  grid-column: 3;
}

.handbags-content15 {
  grid-row: 6;
  grid-column: 4;
}

.handbags-content16 {
  grid-row: 6;
  grid-column: 5;
}

.handbags-content17 {
  grid-row: 7;
  grid-column: 3 /span 2;
}

.colors .maroon {
  background-color: maroon !important;
}

.hotpink {
  background-color: hotpink !important;
}

.pink {
  background-color: pink;
}

.orchid {
  background-color: orchid;
}

.item-selected {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 100px 350px;
}

.item-selected .item-img {
  grid-row: 2;
  grid-column: 2;
}

.item-selected .item-description {
  grid-row: 2;
  grid-column: 3;
}

.related-products {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 50px 600px;
  grid-column-gap: 10px;
}

.related-products-title {
  grid-row: 1;
  grid-column: 2 /span 3;
}

.related-products1 {
  grid-row: 2;
  grid-column: 2;
}

.related-products2 {
  grid-row: 2;
  grid-column: 3;
}

.related-products3 {
  grid-row: 2;
  grid-column: 4;
}

.contact-information a:hover {
  color: black;
  text-decoration: none;
}

.items-selected a:hover {
  color: black;
  text-decoration: none;
}

.customer-details {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 50px 600px;
}

.contact-information {
  grid-row: 2;
  grid-column: 2;
}

.items-selected {
  grid-row: 2;
  grid-column: 3;
}

.footer-items {
  background-color: white !important;
}

.feedback-btn {
  background-color: rgb(146, 212, 59);
}

.fcopyright a:hover {
  color: black;
  text-decoration: none;
}

.collaps {
  display: none;
}

@media screen and (max-width: 576px) {
  * {
    font-size: 10px;
    line-height: 14px;
  }

  html {
    overflow-x: hidden !important;
  }

  .handbags-link {
    display: none;
  }

  .handbag-details-link {
    display: none;
  }

  .collaps {
    display: initial !important;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
    line-height: 14px;
  }

  html {
    overflow-x: hidden !important;
  }

  .handbags-link {
    display: none;
  }

  .handbag-details-link {
    display: none;
  }

  .collaps {
    display: initial !important;
  }
}

@media screen and (min-width: 992px) {
  * {
    font-size: initial;
    line-height: initial;
  }

  .nav-links {
    display: initial;
  }

  .collaps {
    display: none;
  }

  .handbags-link {
    display: initial;
  }

  .handbag-details-link {
    display: initial;
  }
}
